.projetos{
    display: flex;
    justify-content: center;
    margin: 2rem;
    border: 1px solid green;
}

.posts {
    padding: 0 6vw 3.625rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: -2.5rem;
    border-radius: 20px;
}

.post {
    background: var(--backgroud-secundaria);
    text-align: center;
    width: 15rem;
    height: 27rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding-bottom: 1.5rem;
    transition: transform .2s;
}

.post img{
    width: 15rem;
    height: 15rem;
    border-radius: 20px 20px 0 0;
}

.post:hover {
    transform: translate(0, -1rem);
}

.capa {
    width: 100%;
}

.titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    color: var(--branco);
    line-height: 1.75rem;
    margin: .8rem 1.75rem;
}

.texto{
    color: var(--branco);
    font-size: .8rem;
    margin: 15px;

}

.botaoLer {
    display: inline-block;
    border-radius: 24px;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    background-color: var(--verde);
    color: var(--branco);
    border: 3px solid transparent;
    cursor: pointer;
    transition: 0.2s
}

.botaoLer:hover {
    border: 3px solid var(--azul-escuro);
}

