*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
  list-style: none;
  text-decoration: none;
}

:root{
  --verde: #008000;
  --border-color: #585858;
  --branco: #ffffff;
  --fonte-principal: 'Poppins', sans-serif;
  --background-linear: linear-gradient(330deg, rgba(122,122,122,1) 0%, rgba(64,64,64,1) 33%, rgba(25,25,25,1) 70%);
  --backgroud-secundaria: linear-gradient(330deg, rgb(143, 137, 137) 0%, rgb(104, 119, 107) 33%, rgba(25,25,25,1) 70%);
  --background-escura: linear-gradient(330deg, rgb(48, 46, 46) 0%, rgb(43, 41, 41) 33%, rgb(71, 69, 69)70%);
}

body{
  background: var(--background-linear);
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}